{% extends "Municipality/municipality-standard.html" %}
{% block title %}Estadísticas{% endblock %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% block content-header %}Estadisticas de Denuncias{% endblock %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="{% static "fusionCharts/js/fusioncharts.js" %}"></script>
    <div class="row">
        <div style="min-height: 400px" class="col-md-6">
            <div id="chart-1">{{ output|safe }}</div>
        </div>
        <div style="min-height: 400px" class="col-md-6">
            <div id="chart-2">{{ output2|safe }}</div>
            <form method="POST" action="{% url 'complaint-statistics' %}">
                {% csrf_token %}
                {{ form }}
            </form>
        </div>
    </div>
{% endblock %}