{% extends "User/user-standard.html" %}
{% load static %}

{% block title %}Adopta!{% endblock %}

{% block content-header %}Adoptar{% endblock %}

{% block content %}

    <div id="map"></div>

    <!--suppress JSAnnotator -->
    <script>
    $( document ).ready(function() {
    initMap();
    });


    function initMap() {
        var latdata = -34.397;
        var lngdata = 150.644;
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: latdata, lng: lngdata}
    });
    var d = document.getElementById('map');
    d.style.position = "absolute";
    d.style.left = '240px';
    d.style.top = '60px';
    d.style.height = '590px';
    d.style.width = '1115px';
    d.style.display = 'block';
    map.setZoom(15);


    // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var latlng  = {lat:position.coords.latitude, lng:position.coords.longitude};
            var marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
            map.setCenter(latlng);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        {% for mark in zone %}
            normalong(map,{{mark.lat}},{{mark.lng}});
        {% endfor %}

        {% for ongs in favourites %}
            favong(map,{{ongs.ong.lat}},{{ongs.ong.lng}});
        {% endfor %}
      }


      function normalong(map, latdata, lngdata) {
        var pointcom = {lat:latdata,lng:lngdata};
            var imagecom = {url:'{% static 'images/marker.png' %}',scaledSize: new google.maps.Size(30, 30)};
            var markercom = new google.maps.Marker({
            position: pointcom,
            map: map,
            icon: imagecom,

        });
            markercom.addListener('click',goToONG);
      }
      function favong(map, latdata, lngdata){

            var pointfav = {lat:latdata,lng:lngdata};
            var imagefav = {url: '{% static 'images/estrella.png' %}',scaledSize: new google.maps.Size(40, 40)};
            var markerfav = new google.maps.Marker({
            position: pointfav,
            map: map,
            icon: imagefav,

        });
            markerfav.addListener('click',goToONG);
    }


      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

      function goToONG(){
          {% if user.is_authenticated %}
             window.location.href = {% url 'user-ong-in' %};
          {% else %}
             window.location.href = {% url 'user-ong-out' %};
          {% endif %}
      }
    </script>>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6Qv8yPxt7RRKUSy6X0m8yYcRptV_vFog&callback=initMap">
    </script>
    



{% endblock %}